.wrapper {
  display: flex;
  justify-content: space-around;
  margin: 16px auto;
  padding: 10px;
  max-width: 97%;
  background-color: azure;
}

.aside {
  width: 25%;
  margin: 7px;
}

.main {
  width: 75%;
  margin: 7px;
}
