.button {
  display: flex;
  vertical-align: middle;
  margin: 0 4px;
  padding: 8px;
  border: 0;
  border-radius: 50%;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  font-size: 14px;
  font-family: inherit;
  background-color: #f5f8fa;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  cursor: pointer;
  outline: 0;
  text-transform: uppercase;
}

.button:hover {
  background-color: #d8e2e1;
}

.btnModal {
  composes: button;
  position: absolute;
  top: 0.75rem;
  right: 0.5rem;
}
